@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Backgroundd */
    --background-1: #f4f4fa;
    --background-2: #fefcff;
    --background-3: #f4f4fb;
    --background-hover-1: #dddbdb1a;
    --background-hover-2: #9493931a;
    --background-danger: #f17e7e;
    --background-overlay: #706e6e1e;

    /* Contrast colors */
    --background-contrast: #1f2025;
    --background-contrast-hover: #303135;
    --text-contrast: #fffafa;

    /* Texts */
    --text-1: #1f1c1c;
    --text-2: #575757dd;
    --text-hover: #2b2828;
    --text-danger: #ef4444;

    /* Extra */
    --border-1: #e5e5e5;
    --border-2: #e5e5e5;
    --special: #2563eb;
    --special-hover: #474e6e1c;
    --radius: 0.5rem;
  }

  .dark {
    /* Backgroundd */
    --background-1: #292b33;
    --background-2: #1f2025;
    --background-3: #2d2e31;
    --background-hover-1: #6e6e6e07;
    --background-hover-2: #9493931a;
    --background-danger: #e03333ef;
    --background-overlay: #706e6e1e;

    /* Contrast colors */
    --background-contrast: #f1efea;
    --background-contrast-hover: #e2e2e2;
    --text-contrast: #1f1c1c;

    /* Texts */
    --text-1: #fcf5f5;
    --text-2: #ffffffa2;
    --text-hover: #ffffff;
    --text-danger: #ef4444;

    /* Extra */
    --border-1: #353434;
    --border-2: #323235;
    --special: #2563eb;
    --special-hover: #363946a8;
    --radius: 0.5rem;
  }
}
